@charset "UTF-8";

.searchbar {
	/*width:100%;*/
	margin:auto;
	padding:14px 10px;
}

input#searchbartextinput {
	height:25px;
}

input#searchbarsubmitbutton {
	width:25px;
	height:25px;
	border-style:none;
	background-color:#fd39a0;
}